.c-footer-root {
  width: 100%;
  background-image: url("/images/footer.png");
  background-size: cover;
  text-align: center;
  padding: 20px 0px;
}

.c-footer-container {
  display: flex;
  margin: 0px auto;
  justify-content: center;
  color: white;
}

.c-footer-left {
  text-align: left;
  margin: 0px 20px;
}

.c-footer-right {
  text-align: left;
  margin: 0px 20px;
}

.c-footer-title-left {
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  margin-left: 10px;
}

.c-footer-title-right {
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
}

.c-footer-linkText {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
}

.c-footer-linkItem{
  margin: 10px 0px;
}

.c-footer-linkItem-content {
  display: flex;
  align-items: center;
}

.c-footer-sociallinks {
  width: 223px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.c-footer-sociallinks i {
  min-width: 22px;
  height: 22px;
}
.c-social-icon {
  cursor: pointer;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.c-social-icon:hover {
  background: linear-gradient(90.07deg, #7f64e2 3.5%, #41a6ef 97.01%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.c-footer-span {
  color: #96a1db;
}

.c-footer-banner {
  text-align: center;
  font-size: 14px;
  color: #37474F;
  padding: 5px;
}