@keyframes fade {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  } /* 20% of 5 seconds = 1 second */
  80% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

.c-header-root {
  width: 100%;
  position: absolute;
  margin-top: 22px;
  z-index: 100;
  text-align: center;
  background: white;
  padding: 10px;
}

.c-header-container {
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px auto;
}

.c-header-root.sticky {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  opacity: 0;
  animation: fade ease-in-out 3s;
  animation-fill-mode: forwards;
  background: white;
  padding: 10px;
}

.c-header-menu-group {
  height: 64px;
  padding: 0px 70px;
  /* max-width: 1064px; */
  background: #7f90a4;
  border-radius: 50px;
}

.c-header-menu {
  display: flex;
  align-items: center;
  height: 100%;
}

.c-header-logo {
  display: flex;
  align-items: center;
  margin-right: 100px;
}

.c-header-logo-img {
  width: 40px;
  height: 50px;
  margin-top: 2px;
}

.c-header-logo-name {
  color: white;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.02em;
  line-height: 20px;
  margin: 0px 10px;
}

.c-header-nav {
  color: #fff !important;
  text-transform: none !important;
  font-size: 16px !important;
  line-height: 18px !important ;
  height: 100%;
  margin: 0px 20px !important;
}
.c-header-nav .c-header-nav-text:before {
  position: absolute;
	bottom: 10px;
	left: 0;
	overflow: hidden;
	padding: 10px 0;
	max-width: 0;
	border-bottom: 3px solid #fff;
	color: #fff;
	content: attr(data-hover);
	-webkit-transition: max-width 0.5s;
	-moz-transition: max-width 0.5s;
	transition: max-width 0.5s;
}

.c-header-nav .c-header-nav-text:hover:before, .c-header-nav .c-header-nav-text:focus:before {
	max-width: 100%;
	width: 100%;
}

.c-header-nav-active {
  color: white !important;
  font-weight: 700!important;
}

.c-header-nav:hover {
  cursor: pointer;
}

.c-language-root {
  min-width: 70px;
}

.c-language-collapse {
  position: absolute;
  right: 10px;
}

.c-language-collapse .MuiCollapse-wrapper {
  background-color: #1a1f37;
  min-width: 168px;
  margin-top: 10px;
  border-radius: 4px;
  box-shadow: 0px 5px 5px -3px rgb(0 0 0 / 20%),
    0px 8px 10px 1px rgb(0 0 0 / 14%), 0px 3px 14px 2px rgb(0 0 0 / 12%);
}

.c-language-collapse .MuiListItem-root {
  padding: 10px 16px;
}

.c-language-box {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.c-language-icon {
  font-size: 15px !important;
  color: #96a1db;
  margin: 0px 10px;
}

.c-language-menu {
  color: #96a1db;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  margin-left: 8px;
}

.c-language-menu.active {
  color: white;
}

.c-scroll-top {
  opacity: 0.5;
  position: fixed;
  right: 50px;
  bottom: 50px;
  z-index: 1000;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.c-scroll-top-disable {
  display: none;
}

.c-scroll-top-icon {
  font-size: 16px;
  font-weight: normal;
  display: inline-block;
  vertical-align: top;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  background-color: #06060f;
  color: #99a9b5;
  cursor: pointer;
}

.c-header-mobile-logo {
  display: flex;
  align-items: center;
  margin-right: 10px;
  cursor: pointer;
}

.c-header-mobile-icon {
  color: #96a1db;
}

.c-header-mobile-menu-collapse {
  position: absolute;
  top: 65px;
}

.c-header-mobile-menu-content {
  width: 180px !important;
  margin-top: 5px !important;
  background-color: #1a1f37;
  border-radius: 4px;
  box-shadow: 0px 5px 5px -3px rgb(0 0 0 / 20%),
    0px 8px 10px 1px rgb(0 0 0 / 14%), 0px 3px 14px 2px rgb(0 0 0 / 12%);
}

.c-header-mobile-menu-content .MuiListItem-root {
  padding-left: 46px;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.c-header-mobile-menu-content .MuiListItem-root.active-list .MuiTypography-root {
  color: white;
  font-weight: 800;
}
.c-header-mobile-menu-content .MuiListItem-root::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ffb03a;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.c-header-mobile-menu-content .MuiListItem-root:hover::before {
  transform: scaleX(1);
}

.c-header-login-button {
  margin-left: 10px;
  width: 200px;
  height: 60px!important;
}

@media (max-width: 1120px) {
  .c-header-container {
    margin: 0px 20px 0px 20px;
  }
}

@media (max-width: 1100px) {
  .c-header-logo {
    margin-right: 0px;
  }
}

@media (max-width: 951px) {
  .c-header-menu {
    display: none;
  }
  .c-header-menu-group {
    padding: 0px 20px;
  }
}

@media (min-width: 950px) {
  .c-header-mobile-container {
    display: none;
  }
}
