.c-events-root {
  background-image: url("/images/events.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.c-events-container {
  max-width: 1064px;
  margin: 0px auto 100px auto;
  padding: 0px 10px;
}

.c-events-title-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.c-events-cardlist {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1064px;
  margin: 0px auto 100px auto;
  padding: 0px 10px;
}

.c-events-carditem {
  position: relative;
  width: 35%;
  min-width: 350px;
  height: 300px;
  margin-top: 30px
}

.c-events-title-logo {
  margin-left: 30px;
}

.c-events-card-background {
  width: 100%;
  height: 100%;
}

.c-events-card-content {
  position: absolute;
  left: 190px;
  top: 30px;
  height: 230px;
  width: 250px;
  color: #37474F;
  transform: translate(-50%, 0%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.c-events-card-subtitle {
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  height: 80px;
  margin: 10px auto;
  display: flex;
  align-items: center;
}

.c-events-card-header-img {
  width: 130px;
}

.c-events-card-header-img img {
  margin: 0px 5px;
}

.c-events-card-header-img img:nth-child(1) {
  animation: fade .7s 1.1s infinite alternate
}
.c-events-card-header-img img:nth-child(2) {
  animation: fade 1.14s .8s infinite alternate backwards
}
.c-events-card-header-img img:nth-child(3) {
  animation: fade 1.9s .2s infinite alternate backwards
}
.c-events-card-date {
  text-align: right;
  color: #184A80;
  font-weight: 500;
}

@media (max-width: 710px) {
  .c-events-cardlist {
    display: block;
  }
  .c-events-carditem {
    margin: 30px auto;
  }
}

@keyframes fade {
  from {
    filter: alpha(opacity(0%));
    opacity: 0;
  }
  to {
    filter: alpha(opacity(100%));
    opacity: 1;
  }
}