.c-offer-root {
  max-width: 1064px;
  margin: 20px auto 100px auto;
}

.c-offer-title-content {
  width: 100%;
  text-align: center;
}

.c-offer-cardlist {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.c-offer-carditem {
  position: relative;
  width: 35%;
  min-width: 350px;
  height: 500px;
  margin-top: 30px;
  transition: 0.5s;
  cursor: pointer;
}

.c-offer-carditem:hover{
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1)
}

.c-offer-card-background {
  width: 100%;
  height: 100%;
}

.c-offer-card-content {
  position: absolute;
  left: 50%;
  bottom: 30px;
  color: #37474F;
  transform: translate(-50%, 0%);
}

.c-offer-card-title {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  line-height: 37px;
  margin: 10px auto;
}

.c-offer-card-subtitle {
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  max-width: 140px;
  height: 80px;
  margin: 10px auto;
  display: flex;
  align-items: center;
}

.c-offer-card-pricecontent {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.c-offer-card-dollar {
  font-size: 30px;
  font-weight: 900;
}

.c-offer-card-price {
  font-size: 60px;
  font-weight: 700;
}

.c-offer-card-button {
  width: 200px;
  height: 60px;
  margin: 10px auto;
}

@media (max-width: 710px) {
  .c-offer-cardlist {
    display: block;
  }
}